$primary: #748ffc;
$primary-light: #bac7fe;
$primary-dark:#3a487e;


$secondary: #fce174;
$secondary-light:#fdea9e;
$secondary-dark:#978746;

$color-three: #fc748f;
$color-three-dark: #7e3a48;
$color-three-light: #febac7;


$color-four: #8ffc74;

$red-primary: #c20a0aaf;
$red-dark: #610505c0;

$grey-1: #f1f3f5;
$grey-2: #e9ecef;