@use "variables" as var;

.login-form{
    position: absolute;
    width: 30vw;
    height: 50vh;
    z-index: 20;
    background-color: rgba(10, 10, 10, 0.7);;
    color: var.$grey-1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 1rem;

    &__label-input-box{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 1rem;
        margin: 1rem 0;
    }

    &__close-icon{
        width: 3rem;
        position: absolute;
        top: 5%;
        right: 5%;

        &:hover{
            cursor: pointer;
        }
    }


    label,input{
        padding: 1rem;
        border: none;
        color: var.$grey-1;
        font-family: sans-serif;
        width: 60%;
    }

    input{
       background-color: #748ffc44;
       border-radius: 10rem;
    }

    &__btn{
        padding: 1.6rem 4rem;
        // margin-top: 2rem;
        background-color: #748ffc44;
        color: var.$grey-1;
        border-radius: 10rem;
        transition: all 0.2s;
        margin-top: 1rem;
        
        &:hover{
            background-color: var.$primary;
            cursor: pointer;
        }
    }
}

@media (max-width: var.$smaller-desktops) {
    .login-form{
        width: 40vw;
    }
}
@media (max-width: var.$tablets) {
    .login-form{
        width: 50vw;
        font-size: 1.6rem;
    }
}

@media (max-width: var.$phones) {
    .login-form{
        width: 80vw;
    }
}