@use "splash-screen";
@use "home";
@use "movie";
@use "player";
@use "nav-bar";
@use "spinner";
@use "error-toast";
@use "login-form";
@use "variables" as var;

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-size: 1.6rem;
    font-family: 'rubik', sans-serif;
    font-weight: 200;
    line-height: 1;
    background-color: #000;
    color: var.$grey-1;
  
}

button{
    border: none;
    color: var.$grey-1;
    text-transform: uppercase;
    font-family: 'rubik', sans-serif;
}

.app-container{
    text-align: center;
}
