@use "variables" as var;

.navbar{
    color: var.$grey-1;
    display: flex;
    padding: 2vh 1rem;
    font-size: 1.6rem;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;

    &__btn-logout{
        padding:1rem;
        font-size: 1.6rem;
        background-color: transparent;
        color: var.$grey-1;
        transition: all 0.4s;
        border-radius: 1rem;

        &:hover{
            cursor: pointer;
            background-color: #444
        }
    }
}