@use "colors" as colors;

.navbar{
    color: colors.$grey-1;
    display: flex;
    padding: 2vh 1rem;
    font-size: 1.6rem;
    justify-content: space-around;
    align-items: center;

    &__btn-logout{
        padding:1rem;
        font-size: 1.6rem;
        background-color: transparent;
        color: colors.$grey-1;
        text-transform: uppercase;
        transition: all 0.4s;

        &:hover{
            cursor: pointer;
            background-color: #444
        }
    }
}