@use 'colors' as colors;
$spinner-border-size: 0.3rem;

.spinner__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: 0.9;
    font-size: 1.5rem;
  }
  
  .spinner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;

    &__text{
        color: colors.$grey-1;
        animation: loading-opacity 3s ease-in-out infinite;
        z-index: 20;
        font-size: 2rem;
    }

    &__sector{
        border-radius: 50%;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 0rem solid transparent;
        // background-color: colors.$secondary;

        &--first{
            border-top: $spinner-border-size solid colors.$primary-light;
            animation: rotate 2s ease-out infinite;
        }
        &--second{
            animation: rotate 2.5s ease-in infinite;
            border-top: $spinner-border-size solid colors.$primary;
        }
        &--third{
            animation: rotate 1.5s ease-in-out infinite;
            border-top: $spinner-border-size solid colors.$primary-dark;
        }
    }
  }
  
//   @media (max-width: var.$medium) {
//     .spinner{
//         font-size: 1rem;
//     }
// }   

@keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loading-opacity {
    0%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.1;
    }
  }