$primary: #748ffc;
$primary-light: #bac7fe;
$primary-dark:#3a487e;

$secondary: #222222;
$secondary-light: #646464;
$secondary-dark: #414141;
$secondary-transpartent: #222222f2;

$grey-1: #f1f3f5;
$grey-2: #e9ecef;


// Breakpoints
$smaller-desktops: 94em;
$tablets: 70em;
$phones: 40em;